@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', 'sans-serif';
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .footerHeading {
    @apply font-semibold text-[20px] text-uiBlack;
  }

  .footer-item {
    @apply text-uiBlack text-[14px] hover:text-baseGreen transition-all duration-150
  }

  .linkActive {
    @apply text-baseGreen p-2 sm:font-normal font-medium sm:text-base text-lg
  }

  .linkInactive {
    @apply text-uiBlack p-2 hover:text-baseGreen transition-all duration-150 sm:font-normal font-medium sm:text-base text-lg
  }

  .linkActiveProfile {
    @apply h-14 flex flex-row sm:gap-6 gap-3 px-5 text-sm items-center text-baseGreen bg-baseGreen/20 border-baseGreen
  }

  .linkInactiveProfile {
    @apply h-14 flex flex-row sm:gap-6 gap-3 px-5 text-sm items-center text-uiBlack hover:bg-baseGreen/20 hover:ease-in transition duration-150 sm:w-full
  }

  .input-row-container {
    @apply flex sm:flex-row flex-col gap-3 sm:items-start justify-between;
  }

  .input-container {
    @apply flex flex-col gap-2 w-full;
  }

  .input-label {
    @apply font-medium text-uiBlack text-sm;
  }

  .input-box {
    @apply h-[50px] w-full px-3 text-uiBlack focus:outline-none border border-uiGrey rounded-sm;
  }

  .input-error {
    @apply text-[12px] text-uiRed;
  }

  .submit-button {
    @apply h-[50px] text-uiWhite bg-baseGreen border border-baseGreen rounded-sm font-medium flex flex-row justify-center items-center disabled:bg-baseGreen/60 disabled:border-baseGreen/30 hover:bg-darkGreen transition-all duration-150;
  }

  .primary-button {
    @apply py-[10px] px-4 text-uiWhite bg-baseGreen rounded-sm font-medium hover:bg-darkGreen transition-all duration-150
  }

  .heading1 {
    @apply font-bold sm:text-[32px] text-[24px] text-uiBlack;
  }

  .heading2 {
    @apply font-semibold sm:text-[28px] text-[22px] text-uiBlack;
  }

  .heading3 {
    @apply font-medium text-left sm:text-[22px] text-[16px] text-uiBlack;
  }
  
  .heading4 {
    @apply font-medium text-left sm:text-[18px] text-base text-uiBlack;
  }

  .main-container {
    @apply flex flex-col gap-4 sm:py-[3rem] py-[2rem]
  }

  .grid-list-2 {
    @apply grid grid-cols-1 gap-6 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1
  }
  
  .grid-list-3 {
    @apply grid grid-cols-1 gap-6 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1
  }

  .grid-list-4 {
    @apply grid grid-cols-1 gap-6 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-1
  }

  .grid-list-5 {
    @apply grid grid-cols-2 gap-6 lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-2
  }

  .order-placed {
    @apply text-uiGrey border-uiGrey
  }

  .order-processing {
    @apply text-uiOrange border-uiOrange
  }

  .order-cancelled {
    @apply text-uiRed border-uiRed
  }

  .order-delivered {
    @apply text-baseGreen border-baseGreen
  }
}


.alertbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: 4px;
  font-size: 14px;
  border: 1px solid transparent;
}

.success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.success p {
  background-color: #0f5132;
}

.failed {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.failed p {
  background-color: #842029;
}

.warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.warning p {
  background-color: #664d03;
}

.primary {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}

.primary p {
  background-color: #084298;
}

.secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}

.secondary p {
  background-color: #084298;
}

.info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}

.info p{
  background-color: #055160;
}
.alertbox-close-btn {
  font-size: 26px;
  font-weight: 500;
  cursor: pointer;
}

.track {
  height: 5px;
  background: #3BB77E;
  border-radius: 4px;
}

.track.track-0, .track.track-2 {
  background-color: #ADADAD;
}